
.header {
  background-color: antiquewhite;
}

.header h1 {
  text-align: center;
}

.navmenu {
  text-align: center;
}

.products-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.products-header {
  text-align: center;
}

.product-card {
  outline: 1px solid black;
  padding: 15px;
  gap: 10px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card-button {
  height: 30px;
  margin: auto;
  border-radius: 8px;
  border-color: brown;
  background-color: slateblue;
  color: white;
}

.product-card-button:active {
  background-color: rgb(128, 121, 170);
}

.product-card-name {
  color: blue;
}

.product-card-price {
  margin: auto;
}

.product-card-image {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
}

.footer {
  background-color: antiquewhite;
  display: flex;
  text-align: center;
  gap: 25px;
  margin-top: 15px;
  justify-content: center;
}

.popup-background {
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  /* visibility: hidden; */
}

.basket-container {
  background-color: white;
  
  width: 800px;
  max-height: auto;
  margin: auto;
  border-radius: 12px;
}

.basket-header {
  background-color: aquamarine;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-height: 40px;
}

.basket-header h2 {
  margin: auto;
}

.basket-list {
  margin: 5px 10px 10px 5px;
  overflow-x: hidden;
  
  max-height: 300px;
}

.basket-list::before {
  background-color: grey;
}

.basket-list::after {
  background-color: grey;
}

.basket-item {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  padding: 10px;
  border-top: 1px solid grey;
}

.basket-item:hover {
  background-color: gainsboro;
}

.basket-item-name {
  color: black;
  max-width: 100px;
}

.basket-item-count {
  color: black;
}

.basket-item-price {
  color: black;
}

.basket-footer {
  display: flex;
  justify-content: center;
}

.basket-close-button {
  height: auto;
  width: 50px;
}

.basket-button {
  width: 25%;
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: snow;
  border-radius: 8px;
  border-color: black;
}

.basket-button:active {
  background-color: blanchedalmond;
}


